################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
*.sln
*.vcxproj
*.filters
*.user
.idea/*
/src/__pycache__/*
all_gene_pools*
